<div class="wrapper">
    <section>
        <hr>
        <h2 id="contact" style="text-align: center;">Contact</h2>
        <div class="row">
            <a class="col-6" href="mailto: {{ site.gmail }}">
                <i class="socicon-mail"></i><br>
                {{ site.gmail }} <br>
                (Academic)
            </a>

            <a class="col-6" href="mailto: {{ site.personal }}@gmail.com">
                <i class="socicon-google"></i><br>
                {{ site.personal }} <br>
                (Personal)
            </a>

            <a class="col-6" href="https://github.com/igor-simoes">
                <i class="socicon-github"></i><br>
                {{ site.github_username }}
            </a>

            <a class="col-6" href="https://www.linkedin.com/in/{{ site.linkedin }}">
                <i class="socicon-linkedin"></i><br>
                {{ site.linkedin }}
            </a>
        
        </div>
        <br>
    </section>
</div>
