<div class="wrapper">
    <section>
        <hr>
        <div class="grid-wrapper">
            <a class="footer-text" href="mailto: {{ site.gmail }}">
                <i class="socicon-mail"></i>
                {{ site.gmail }}
            </a>

            <a class="footer-text" href="https://github.com/igor-simoes">
                <i class="socicon-github"></i>
                {{ site.github_username }}
            </a>

            <a class="footer-text" href="https://www.linkedin.com/in/{{ site.linkedin }}">
                <i class="socicon-linkedin"></i>
                {{ site.linkedin }}
            </a>
        </div>
        <br>
    </section>
</div>