---
---

@import "{{ site.theme }}";

* {
    box-sizing: border-box;
}

.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-6 {width: 50%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    font-size: larger;
    text-align: center;
}

.last_updated {
    text-align: center;
}

i {
    font-size: 22px;
}

.hello {
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.site-title {
    margin-top:5%;
    margin-left:10%;
}

.div-description {
    background-color: #282828;
    border-radius: 5px;
    color: white;
}