<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/analytics.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body>
      <!-- begin header content -->
      {% include header.html %}
      <!-- end header -->
    
      <!-- begin wrapper content -->
      <div class="wrapper">
        <section>
          {% include title.html %}

          {{ content }}
        </section>
      </div>
      <!-- end wrapper  -->

      <!-- begin footer -->
      {% include footer.html %}
      <!-- end footer -->
  </body>


  <script>
    $(document).ready(function() {
        $('(div|ul)[id^="desc_"]').hide();
    });
    
    let setVisibility = (anchor, element) => {
        element.toggle(500);
        anchor.text() === 'show' ? anchor.text('hide') : anchor.text('show')
    }
    
    // need refactoring
    $('a[id^="show_"]').click(function(){
        let anchor = $(this);
        let clickedID = anchor.attr('id');
        let aux;
        let patterns = ['b_', 'e_', 'p_'];
        for (let id of patterns){
            if (clickedID.indexOf(id) > -1){
                aux = id
                break;
            } 
        }
        let index = clickedID[clickedID.length - 1];
        let _id = '#desc_' + aux + index;
        setVisibility(anchor, $(_id));
    });
  </script>
</html>
